html{
  height: 100vh; 
}

body {
  height: 100%; 
  display: flex; 
  justify-items: center;
  align-items: center; 
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  max-width: 1440px;
}

.green-text {
  color: hsl(75, 94%, 57%);
  font-size: 15px;
}

.grey-text {
  color: hsl(0, 1%, 58%);
  font-size: 14px;
}

.name {
  font-size: 25px;
}

.card-container {
  border-radius: 20px;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
  width: 350px; 
  padding-top: 50px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  width: 80%;
  padding: 15px 0px;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 9px;
  opacity: 0.9;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  margin-bottom: 13px;
  font-weight: bold; 
}

button:hover {
  background-color: hsl(75, 94%, 57%); 
  color: hsl(0, 0%, 12%);

}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 70%;
  object-fit: cover;
}
